<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Perfil del usuario</h1>
    <ul>
        <li>
            <strong> Nombre: </strong><%=usuario.name%><br>
            <strong> Email: </strong><%=usuario.email%><br>
            <strong> Usuario: </strong><%=usuario.userName%><br>
        </li>
    </ul>
</body>
</html>