    <h1>Perfil del usuario</h1>
    <ul>
        <li>
            <strong> Nombre: </strong><%=usuario.name%><br>
            <strong> Email: </strong><%=usuario.email%><br>
            <strong> Usuario: </strong><%=usuario.userName%><br>
        </li>
    </ul>
